{% extends "../layout-xui.html" %}

{% block pageTitle %}
Hearings management
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Jane Smith vs DWP</span>
        <h1 class="govuk-heading-l">
            Add a new attendee
        </h1>
        <br />

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="other1Role">
                Role
            </label>
            <select class="govuk-select govuk-!-width-one-quarter" id="other1Role" name="">
                <option value="Please select" selected>Please select</option>
                <option value="Interpreter">Interpreter</option>
                <option value="In person">Solicitor</option>
                <option value="In person">Barrister</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="event-name">
                Attendee name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Did they attend the hearing?      &nbsp;  &nbsp; &nbsp; &nbsp;
                    </h3>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="other1AttendYes" name="other1-attended" type="radio" value="Yes" {{ checked("other1-attended", "Yes") }}>
                        <label class="govuk-label govuk-radios__label" for="other1AttendYes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="other1AttendNo" name="other1-attended" type="radio" value="No" {{ checked("other1-attended", "No") }}>
                        <label class="govuk-label govuk-radios__label" for="other1AttendNo">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="other1Channel">
                Channel
            </label>
            <select class="govuk-select govuk-!-width-one-quarter" id="other1Channel" name="other1-channel">
                <option value="Please select">Please select</option>
                <option value="In person">In person</option>
                <option value="In person">By phone</option>
                <option value="In person">By video</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="event-name">
                Organisation
            </label>
            <input class="govuk-input govuk-!-width-one-quarter" id="event-name" name="event-name" type="text">
        </div>

<!--        <form class="form" action="actuals-other-attendees-add" method="post">-->
<!--            <button class="govuk-button govuk-button&#45;&#45;secondary" data-module="govuk-button">-->
<!--                Add another attendee-->
<!--            </button>-->
<!--        </form>-->


        <br />
        <form class="form" action="actuals-categories" method="post">

<!--            <button class="govuk-button govuk-button&#45;&#45;secondary" data-module="govuk-button">-->
<!--                Previous-->
<!--            </button>-->
            <button class="govuk-button primary" data-module="govuk-button">
                Save and continue
            </button>

        </form>



        </div>
    </div>

<script>
  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}