{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




        {% if (data['status'] == 'pending') or (data['status'] == 'listed') %}
        <h1 class="govuk-heading-l">View or edit hearing</h1>
        {% elif data['status'] == 'awaiting' %}
        <h1 class="govuk-heading-l">Hearing awaiting actuals</h1>
        {% elif data['status'] == 'completed' %}
        <h1 class="govuk-heading-l">Hearing completed</h1>
        {% else %}
        <h1 class="govuk-heading-l">Check your answers before sending your request</h1>
        {% endif %}


        <!--            {% if data['viewandchange'] == 'true' %}-->
        <!--                View or edit hearing-->
        <!--            {% else %}-->
        <!--                Check your answers before sending your request-->
        <!--            {% endif %}-->


        <form class="form" action="hearing-confirmation-answer" method="post">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                {% if data['status'] != 'listed' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith vs DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Personal Independence Payment - Conditions of Entitlement
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}

                {% if data['viewandchange'] == 'true' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['status'] == 'pending' %}
                        Waiting to be listed
                        {% elif data['status'] == 'listed' %}
                        Listed
                        {% elif data['status'] == 'awaiting' %}
                        Awaiting actuals
                        {% elif data['status'] == 'completed' %}
                        Completed
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if (data['status'] == 'pending') or (data['status'] == 'listed') %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date request submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        28 October 2021
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}
                {% if data['status'] == 'listed' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date response received
                    </dt>
                    <dd class="govuk-summary-list__value">
                        4 November 2021
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}
                {% endif %}
            </dl>

            {% if data['status'] == 'listed' %}
            <!-- Listed summary -->
            <h2 class="govuk-heading-m">Listing information summary</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" style="background-color:#f3f2f1;">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Case name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith vs DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Personal Independence Payment - Conditions of Entitlement
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Hearing date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        12 December 2021
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        10:30
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Duration
                    </dt>
                    <dd class="govuk-summary-list__value">
                        45 mins
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Birmingham Civil and Family Justice Centre
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Room
                    </dt>
                    <dd class="govuk-summary-list__value">
                        3
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Judicial and panel members
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Judge John<br />
                        Penny Wilson - Medically qualified panel member / General Practitioner<br />
                        Joe Smith - Medically qualified panel member / Eye Surgeon<br />
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        How parties will attend
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith - Video / CVP<br />
                        DWP - Video / CVP
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
            </dl>
            {% endif %}

            {% if data['status'] == 'pending' %}
            <div class="govuk-inset-text">
                To amend this request, select change in the relevant section on this page then resubmit the request.
            </div>
            {% elif data['status'] == 'listed' %}
            <div class="govuk-inset-text">
                To amend this listing, select change in the relevant section on this page then resubmit the request.
            </div>

            {% endif %}

            <h2 class="govuk-heading-m">Requirements and facilities</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING REQUIREMENTS -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Hearing requirements
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        <strong>Jane Smith</strong><br />
                        Language interpreter<br />
                        Sign language interpreter<br />
                        Reasonable adjustments - Hearing loop required
                        <br /><br />
                        <strong>DWP</strong><br />
                        Sign language interpreter<br />
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-requirements?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- ADDITIONAL SECURITY -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will additional security be required?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['additionalSecurity'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-requirements-facilities?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- ADDITIONAL FACILITIES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select any additional facilities required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{  data['facilities'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-requirements-facilities?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Stage</h2>
            <!-- HEARING STAGE -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What stage is this hearing at?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{ data.hearingstage }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-stage?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Attendance</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING ATTENDANCE -->
                <div class="govuk-summary-list__row">

                    <dt class="govuk-summary-list__key">
                        How will each party attend the hearing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        Jane Smith - {{ data.party1Channel }} <br />
                        DWP - {{ data.party2Channel }} <br />
                        Claimant representative - {{ data.party3Channel }} <br />
                        Respondent representative - {{ data.party4Channel }} <br />
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-attendance-hybrid-many?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- HOW MANY ATTENDEES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How many people will attend the hearing in person?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{ data['attendance-number'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-attendance-hybrid-many?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Venue</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING VENUE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What are the hearing venue details?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        Birmingham Civil and Family Justice Centre
                        <!--                        {{  data['regionselection']  }}<br /><br />-->
                        <!--                        {{ data['venue'] | striptags(true) | escape | nl2br  }}-->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-venue?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
            </dl>


            <!-- JUDGE -->
            <!--            {% if data.panelsame != 'Yes - use the same panel as most recent hearing' %}-->

            <h2 class="govuk-heading-m">Judge details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you want a specific judge?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.specificjudge }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                <!-- SPECIFIC JUDGE -->
                {% if data.specificjudge == 'Yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of the judge
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        John Snow (john.snow@justice.gov.uk)
                        <!-- {{  data.name-of-judge }}-->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% else %}
                <!-- NO SPECIFIC JUDGE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select all judge types that apply
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{  data.judgecontract }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Exclude a judge
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        John Smith
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
            </dl>

            <!--            {% endif %}-->


            <!-- PANEL -->
            <h2 class="govuk-heading-m">Panel details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you require a panel for this hearing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.hearingPanel == 'yes' %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-panel?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                {% if data.hearingPanel == 'yes' %}

                <!-- INCLUDE/EXCLUDE/ROLES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Include specific panel members
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{  data['addpersonsname'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Exclude specific panel members
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{  data.excludepersonsname }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select any other panel roles required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        <!--                            {{  data['panel-members']  }}-->
                        Medically qualified panel member - General Practitioner <br />
                        Medically qualified panel member - Eye Surgeon <br />
                        Regional Medical Member
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                {% endif %}






                <!-- EXISTING JUDGE+PANEL -->
                <!--                {% if data.hearingPanel == 'yes' %}-->

                <!-- SAME JUDGE + PANEL (Only if this is not the first hearing) -->
                <!--                    {% if data.panelsame == 'Yes - use the same panel as most recent hearing' %}-->

                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Use the most recent panel again?-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                Yes-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                                {% if data.changesallowed != 'false' %}-->
                <!--                                <a class="govuk-link" href="hearing-panel-existing?backtocheckanswers=true&">-->
                <!--                                    Change-->
                <!--                                </a>-->
                <!--                                {% endif %}-->
                <!--                            </dd>-->
                <!--                        </div>-->

                <!-- PREVIOUS PANEL -->
                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Judge-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                Her Honour Judge Jones-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                            </dd>-->
                <!--                        </div>-->

                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Tribunal Medical Member-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                Dr David Naran-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                            </dd>-->
                <!--                        </div>-->

                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Disability Qualified Member-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                Penny Williams-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                            </dd>-->
                <!--                        </div>-->

                <!-- ELSE IF NEW PANEL -->

                <!--                    {% elif data.panelsame == 'No - select a new panel' %}-->

                <!--                        &lt;!&ndash; INCLUDE/EXCLUDE/ROLES &ndash;&gt;-->
                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Include specific panel members-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                {{  data.addpersonsname }}-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                                {% if data.changesallowed != 'false' %}-->
                <!--                                <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">-->
                <!--                                    Change-->
                <!--                                </a>-->
                <!--                                {% endif %}-->
                <!--                            </dd>-->
                <!--                        </div>-->
                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Exclude specific panel members-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                {{  data.excludepersonsname }}-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                                {% if data.changesallowed != 'false' %}-->
                <!--                                <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">-->
                <!--                                    Change-->
                <!--                                </a>-->
                <!--                                {% endif %}-->
                <!--                            </dd>-->
                <!--                        </div>-->
                <!--                        <div class="govuk-summary-list__row">-->
                <!--                            <dt class="govuk-summary-list__key">-->
                <!--                                Select any other panel roles required-->
                <!--                            </dt>-->
                <!--                            <dd class="govuk-summary-list__value">-->
                <!--                                {{  data['panel-members']  }}-->
                <!--                            </dd>-->
                <!--                            <dd class="govuk-summary-list__actions">-->
                <!--                                {% if data.changesallowed != 'false' %}-->
                <!--                                <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">-->
                <!--                                    Change-->
                <!--                                </a>-->
                <!--                                {% endif %}-->
                <!--                            </dd>-->
                <!--                        </div>-->

                <!--                    {% endif %}-->

                <!--                {% endif %}-->

            </dl>

            <h2 class="govuk-heading-m">Length, date and priority level of hearing</h2>

            <!-- DURATION AND DATE -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <!--                {% if data['status'] == 'listed' %}-->
                <!--                    <div class="govuk-summary-list__row">-->
                <!--                        <dt class="govuk-summary-list__key">-->
                <!--                            Date-->
                <!--                        </dt>-->
                <!--                        <dd class="govuk-summary-list__value">-->
                <!--                            15 November 2021-->
                <!--                        </dd>-->
                <!--                        <dd class="govuk-summary-list__actions">-->

                <!--                        </dd>-->
                <!--                    </div>-->
                <!--                    <div class="govuk-summary-list__row">-->
                <!--                        <dt class="govuk-summary-list__key">-->
                <!--                            Start time-->
                <!--                        </dt>-->
                <!--                        <dd class="govuk-summary-list__value">-->
                <!--                            13:00-->
                <!--                        </dd>-->
                <!--                        <dd class="govuk-summary-list__actions">-->

                <!--                        </dd>-->
                <!--                    </div>-->
                <!--                {% endif %}-->

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Length of hearing
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {% if data.durationhours|length %}
                        {{  data.durationhours }} hour(s) {% if data.durationmins|length %} and {{  data.durationmins }} minute(s) {% endif %}
                        {% else %}
                        45 minutes
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the hearing need to take place on a specific date?
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{  data.dateradios }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                {% if data['dateradios'] == 'Yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        The first date of the hearing must be

                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{ data['firstdateday'] }} / {{ data['firstdatemonth'] }} / {{ data['firstdateyear'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% endif %}

                {% if data['dateradios'] == 'Choose a date range' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Earliest hearing date
                    <dd class="govuk-summary-list__value">
                        {{ data['earliestdateday'] }} / {{ data['earliestdatemonth'] }} / {{ data['earliestdateyear'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Latest hearing date
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{ data['latestdateday'] }} / {{ data['latestdatemonth'] }} / {{ data['latestdateyear'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is the priority of this hearing?
                    <dd class="govuk-summary-list__value">
                        {% if data.updatedflag == 'true' %}<strong class="govuk-tag govuk-tag--green govuk-!-margin-right-2">Amended</strong><br /><br />{% endif %}
                        {{ data.priorityHearing }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

            </dl>

            <h2 class="govuk-heading-m">Additional instructions</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enter any additional instructions for the hearing
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data['additional-instructions-text' | striptags(true) | escape | nl2br ]  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-additional-instructions">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

            </dl>

            {% if (data.regionselection == "Wales") or (data['welsh-hearing'] == "true") %}
            <h2 class="govuk-heading-m">Language requirements</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does this hearing need to be in Welsh?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.welshHearing  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-welsh?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

            </dl>
            {% endif %}

            {% if data.afterhearinghappend == 'true' %}

            <h2 class="govuk-heading-m">Outcome of the hearing</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Placeholder
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Placeholder
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <!--                                {% if data.changesallowed != 'false' %}-->
                        <!--                                <a class="govuk-link" href="/hearings/pages/language">-->
                        <!--                                    Change-->
                        <!--                                </a>-->
                        <!--                                {% endif %}-->
                    </dd>
                </div>

            </dl>

            {% endif %}

            {% if data.changesallowed != 'false' %}
            <form
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off"
            >

                {% if (data['status'] == 'pending') or (data['status'] == 'listed') %}
                <div class="govuk-form-group  govuk-!-margin-top-5" >
                    <button class="govuk-button" data-module="govuk-button">
                        Submit amended request
                    </button>
                </div>

                {% else %}
                <div class="govuk-form-group  govuk-!-margin-top-5" >
                    <button class="govuk-button" data-module="govuk-button">
                        Submit request
                    </button>
                </div>
                {% endif %}
            </form>
            {% endif %}

    </div>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>

<hr />
<p class="govuk-body govuk-!-margin-top-4">Scenarios:</p>
<form method="post" action="#" style="margin-top: 20px;">
    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label" for="data-c1" style="font-size: 16px;">
                Welsh hearing (question and row only appears if a Welsh venue is selected)
            </label>
            <select style="height: 30px;padding:0 5px;font-size: 14px;" class="govuk-select" id="data-c1" name="data-c1" onchange="window.location.href='?'+this.value">
                <option value="welsh-hearing=true&"
                        {% if data['welsh-hearing'] == 'true' %} selected  {% endif %}
                >Show</option>

                <option value="welsh-hearing=false&"
                        {% if data['welsh-hearing'] != 'true' %} selected  {% endif %}
                >Hide</option>

            </select>
        </div>
    </fieldset>
</form>

<form method="post" action="#">
    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label" for="data-c1" style="font-size: 16px;">
                Show 'updated' flag (appears when a change is made to an existing request or listed hearing)
            </label>
            <select style="height: 30px;padding:0 5px;font-size: 14px;" class="govuk-select" id="data-c1" name="data-c1" onchange="window.location.href='?'+this.value">
                <option value="updatedflag=true&"
                        {% if data['updatedflag'] == 'true' %} selected  {% endif %}
                >Show flag</option>

                <option value="updatedflag=false&"
                        {% if data['updatedflag'] != 'true' %} selected  {% endif %}
                >Hide flag</option>

            </select>
        </div>
    </fieldset>
</form>

{% endblock %}