{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                    Enter any additional instructions for the hearing
                </label>
                </h1>
                <div id="event-name-hint" class="govuk-hint">
                    Add details of any additional facilities or instructions for this hearing.
                </div>



<!--            <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>-->
<!--            <h1 class="govuk-heading-l">-->
<!--                Enter any additional instructions for the hearing-->
<!--            </h1>-->
<!--            <div id="extra-details-hint" class="govuk-hint">-->
<!--                Add details of any additional facilities or instructions for this hearing.-->
<!--            </div>-->

            <div class="govuk-inset-text">
                This hearing request will need to be manually reviewed before listing if you enter additional details.
            </div>

            <form class="form" action="hearing-checkyouranswers" method="post">


<!--                    <div class="govuk-form-group">-->
<!--                        <label class="govuk-label" for="additionalInstructionsTextarea">-->
<!--                            Additional instructions are optional-->
<!--                        </label>-->
                        <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="additionalInstructionsTextarea" name="additional-instructions-text" value="" rows="10" style="width: 100%;">{{ data['additional-instructions-text'] }}</textarea>
                        <div id="with-hint-info" class="govuk-hint govuk-character-count__message govuk-!-margin-bottom-7" aria-live="polite">
                            You can enter up to 2000 characters
                        </div>

<!--                    </div>-->


<!--                <div class="govuk-form-group">-->
<!--                    <fieldset class="govuk-fieldset">-->

<!--                        <div class="govuk-radios govuk-radios&#45;&#45;conditional" data-module="govuk-radios">-->
<!--                            <div class="govuk-radios__item">-->
<!--                                <input class="govuk-radios__input" id="manualReviewYes" name="manual-review-radio" type="radio" value="Yes" data-aria-controls="additional-instructions">-->
<!--                                <label class="govuk-label govuk-radios__label" for="manualReviewYes">-->
<!--                                    Yes-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="govuk-radios__conditional govuk-radios__conditional&#45;&#45;hidden" id="additional-instructions">-->
<!--                                <div class="govuk-form-group">-->
<!--                                    <label class="govuk-label" for="additionalInstructionsTextarea">-->
<!--                                        Enter the additional instructions for the hearing.-->
<!--                                    </label>-->
<!--                                    <textarea id="additionalInstructionsTextarea" name="additional-instructions-text" value="" rows="10" style="width: 100%;"></textarea>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="govuk-radios__item">-->
<!--                                <input class="govuk-radios__input" id="manualReviewNo" name="manual-review-radio" type="radio" value="No">-->
<!--                                <label class="govuk-label govuk-radios__label" for="manualReviewNo">-->
<!--                                    No-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </fieldset>-->
<!--                </div>-->

                <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>
            </div>

        </div>
    </div>



<script>
    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}