{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            Details of error
        </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Error type
                </dt>
                <dd class="govuk-summary-list__value">
                    xyz
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Details
                </dt>
                <dd class="govuk-summary-list__value">
                    There was an error, a support ticket has been raised.
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
        </dl>
    </div>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>


{% endblock %}