{% extends "../../layout-xui.html" %}
{% block pageTitle %}
  Case details
{% endblock %}
{% block content %}

<div style="min-width: 960px; max-width: 1860px;  margin: 0 30px;">
  <h1 class="govuk-heading-l">Issue refund</h1>
  <h2 class="govuk-heading-m">Case reference: 4692-3164-5845-4819</h2>
  <span id="how-contacted-conditional-hint" class="govuk-hint">
    Payment reference: RC-8368-2367-1858-4562
  </span>
  <fieldset class="govuk-fieldset" style="width:40%;">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-form-group">
      {% set captureAddress %}
        {{ govukInput({
          label: {
            html: '<span class="govuk-hint">Information about this refund will be sent to this address.</span>Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "address-line-1",
          name: "address-line-1",
          autocomplete: "address-line1",
          value: "19"
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "address-line-2",
          name: "address-line-2",
          autocomplete: "address-line2",
          value: "Hamilton Close"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "address-town",
          autocomplete: "address-level2",
          value: "Great Missenden"
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-county",
          name: "address-county",
          value: "Bucks"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode",
          autocomplete: "postal-code",
          value: "HP16 9DZ"
        }) }}

        {{ govukButton({
          text: "Find address",
          href: '',
          classes: "govuk-button--secondary"
        }) }}

        {{ govukSelect({
          id: "country",
          name: "country",
          label: {
            text: "Country"
          },
          items: [
            {
              value: "United Kingdom",
              text: "United Kingdom",
              selected: true
            }
          ]
        }) }}

      {% endset -%}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Contact information
      </legend>
      <div id="contact-hint" class="govuk-hint">
        Notifications will be sent via email or post when this refund is issued or rejected. You can only choose one option.
      </div>
      {% set captureEmail %}
        {{ govukInput({
          label: {
            html: '<span class="govuk-hint">Information about this refund will be sent to this email address.</span>'
          },
          id: "email",
          type: "email",
          namePrefix: "email",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          }
        }) }}
      {% endset -%}

      {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }

        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "contact",
        name: "contact",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
        {
          value: "email",
          text: "Email",
          hint: {
            text: ""
          },
          conditional: {
            html: captureEmail
          }
        },
        {
          value: "post",
          checked:"true",
          text: "Post",
          hint: {
            text: ""
          },
          conditional: {
            html: captureAddress
          }
        }
      ]
    })
  }}

  <!---FORM--->

</div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </fieldset>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Previous",
      href: 'J2-reason',
      classes: "govuk-button--secondary"
    }) }}
    {{ govukButton({
      href: 'J2-check-and-send',
      text: "Continue"
    }) }}
  </div>
  <p>
    <a href="/orders/pages/J2-paymenthistorydetails">Cancel</a>
  </p>
</div>

{% endblock %}
