{% extends "layout.html" %}

{% block pageTitle %}
  PayBubble
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">User Testing - 6-12-21</h1>
<h2 class="govuk-heading-m">Last updated on 16th December 2021</h2>
<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/J2-paymenthistory">
    A caseworker creates a new refund request
  </a>
  <br>
  They complete all the required fields and sends it to a team leader for approval.
</p>

<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/workallocation/pages/J4-wa-mytasks-refunds-approval">
    A caseworker receives this returned refund request
  </a>
  <br>
  They correct the mistake in the contact information and sends it back to the team leader for approval.
</p>

<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/J5-paymenthistory">
    A caseworker is told that a notification has not been received
  </a>
  <br>
  They go into the case, amends the content information for that particular refund, and resends the notification.
</p>

<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/workallocation/pages/J7-wa-mytasks-refunds-approval">
    A team leader receives this refund request
  </a>
  <br>
  They spot a mistake in the contact information and returns it to caseworker.
</p>

{% endblock %}
