
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">Hearings management: Pre-hearing</h1>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Iteration 4
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        Updated January 2022 based on <a href="https://tools.hmcts.net/confluence/x/ww3RWw" class="govuk-link">UCD Pre-hearing Design & Feedbacklog</a>
                    </div>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <a href="pages/iteration4/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                        Start prototype
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg></a>
                    <p class='govuk-body govuk-!-font-weight-bold'>Hearings tab:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/" target="_blank">All statuses</a></li>
                        <li><a href="pages/iteration4/hearings-tab-no-hearings" target="_blank">No hearings (hearings tab empty state)</a></li>
                        <li><a href="pages/iteration4/hearings-tab-judges-view" target="_blank">JOH view</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Request journey:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/hearing-requirements" target="_blank">Hearing requirements</a></li>
                        <li><a href="pages/iteration4/hearing-requirements-facilities" target="_blank">Additional facilities</a></li>
                        <li><a href="pages/iteration4/hearing-stage" target="_blank">Hearing stage</a></li>
                        <li><a href="pages/iteration4/hearing-attendance-hybrid-many" target="_blank">Participant attendance</a></li>
                        <li><a href="pages/iteration4/hearing-venue" target="_blank">Hearing venue</a></li>
                        <li><a href="pages/iteration4/hearing-welsh" target="_blank">Language requirements</a></li>
                        <li><a href="pages/iteration4/hearing-judge" target="_blank">Judge details</a></li>
                        <li><a href="pages/iteration4/hearing-panel" target="_blank">Panel details</a></li>
                        <li><a href="pages/iteration4/hearing-duration" target="_blank">Length, date and priority level of hearing</a></li>
                        <li><a href="pages/iteration4/hearing-additional-instructions" target="_blank">Additional instructions for the hearing</a></li>
                        <li><a href="pages/iteration4/hearing-checkyouranswers?status=checkanswers&viewandchange=false&" target="_blank">Check your answers</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>View/edit summary page</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/hearing-checkyouranswers?changesallowed=true&viewandchange=true&status=pending&showflags=false&" target="_blank">Waiting to be listed</a></li>
                        <li><a href="pages/iteration4/hearing-checkyouranswers?changesallowed=true&viewandchange=true&status=request&showflags=false&" target="_blank">Update requested</a></li>
                        <li><a href="pages/iteration4/hearing-checkyouranswers?changesallowed=true&viewandchange=true&status=listed&showflags=false&" target="_blank">Listed</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Amend journey (some examples of the 'updated' flag)</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/hearing-checkyouranswers?changesallowed=true&viewandchange=true&status=pending&showflags=true&updateflags=s1" target="_blank">Updated flags (Stage and Panel)</a></li>
                        <li><a href="pages/iteration4/hearing-checkyouranswers?changesallowed=true&viewandchange=true&status=pending&showflags=true&updateflags=s2" target="_blank">Updated flags (Requirements, Facilities and Duration)</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Check answers page level error</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/hearing-checkyouranswers-error" target="_blank">Error when trying to submit an existing request without making any new amends</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>JOH - View/edit summary page</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/hearing-checkyouranswers-judges-view?changesallowed=true&viewandchange=true&status=pending&" target="_blank">Waiting to be listed</a></li>
                        <li><a href="pages/iteration4/hearing-checkyouranswers-judges-view?changesallowed=true&viewandchange=true&status=request&" target="_blank">Update requested</a></li>
                        <li><a href="pages/iteration4/hearing-checkyouranswers-judges-view?changesallowed=true&viewandchange=true&status=listed&" target="_blank">Listed</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Other pages & views</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="pages/iteration4/hearing-cancel" target="_blank">Cancel hearing</a></li>
                        <li><a href="pages/iteration4/hearing-details-error" target="_blank">Request failed - Error details</a></li>
                        <li><a href="pages/iteration4/hearing-details-cancelled" target="_blank">Cancelled hearing - view details</a></li>
                        <li><a href="pages/iteration4/hearing-details-completed" target="_blank">Completed hearing - view details (taken from Actuals)</a></li>
                        <li><a href="pages/iteration4/hearing-details-adjourned" target="_blank">Adjourned hearing - view details (taken from Actuals)</a></li>
                    </ul>
                    <br />
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Iteration 3
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                        Updated November 2021
                    </div>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <a href="pages/iteration3/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                        Start prototype
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg></a>
<!--                    <p class='govuk-body'><span class="govuk-!-font-weight-bold">Date:</span> October 2021</p>-->
<!--                    <p class='govuk-body govuk-!-font-weight-bold'>Direct links to pages:</p>-->
<!--                    <p class="govuk-body">Hearings tab</p>-->
<!--                    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/index" class="govuk-link">Hearings tab</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearings-tab-all-status" class="govuk-link">Hearings tab - All statuses</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearings-tab-no-hearings" class="govuk-link">Hearings tab - No hearings (empty state)</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearings-tab-judges-view" class="govuk-link">Hearings tab - Judges view</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-cancel" class="govuk-link">Cancel a hearing/request</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-details-cancelled" class="govuk-link">View cancelled hearing details</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-details-completed" class="govuk-link">View completed hearing details</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-checkyouranswers?viewandchange=true&status=listed&" class="govuk-link">View or edit hearing (revised H1 and status row)</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <p class="govuk-body">Request hearing journey</p>-->
<!--                    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-requirements" class="govuk-link">Hearing requirements</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-requirements-facilities" class="govuk-link">Additional facilities</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-stage" class="govuk-link">Stage</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-attendance-hybrid-few" class="govuk-link">Attendance - Hybrid hearing - 2 parties</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-attendance-hybrid-many" class="govuk-link">Attendance - Hybrid hearing - more than 2 parties</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-attendance-non-hybrid" class="govuk-link">Attendance - Non-hybrid hearing</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-venue" class="govuk-link">Venue</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-judge" class="govuk-link">Judge</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-panel-existing" class="govuk-link">Panel - existing</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-panel-new" class="govuk-link">Panel - new</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-duration" class="govuk-link">Duration and date</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-welsh" class="govuk-link">Welsh hearing question (only appears when a Welsh venue is selected)</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-checkyouranswers?viewandchange=false&" class="govuk-link">Check your answers</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="pages/iteration3/hearing-confirmation" class="govuk-link">New hearing request - confirmation</a>-->
<!--                        </li>-->
<!--                    </ul>-->

<!--                    <p class='govuk-body govuk-!-font-weight-bold'>Changelog:</p>-->
<!--                    <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--                        <li>-->
<!--                            Typeahead/autocomplete added for venues-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Hearing request status added into 'View or change details'-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Hearings tab changes to include ListAssist/listing states-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Case flags and facilities split into two pages-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Channel changes to include 'hybrid hearing' question-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Typeahead/autocomplete added with email address ID for Judge name fields-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Views for cancelled & completed hearings-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Iteration 2
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
                        Summer 2021
                    </div>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p><span class="govuk-!-font-weight-bold"> Starting states </span>
                        <br>Links open in a new tab.</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/first">No hearings / Request first hearing</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/firstalt">No hearings / Request first hearing - Starting from check answers</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/third">2 hearings / Request a 3rd hearing</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/after10mins">10 mins after submission</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/aftermonth">After a month after submission</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/aftersubmission">After submission</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/all">Show all states</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/confirmation?confimationerror=true&">Error on submission</a></p>

                    <br>
                    <br>
                    <br>
                    <br>


                    <p><span class="govuk-!-font-weight-bold"> Links to each page  </span>
                        <br>Some pages have a dropdown in the footer to toggle states</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/casedetailsdivorce">Hearings tab</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/startrequest">General case and hearing details</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/partiyrequirements">Party requirements</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/channel">Hearing channel</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/venuedefault">Venue</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/region">Change venue - region</a>&nbsp;&nbsp; (optional path)</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/venue?regionselection=Wales&">Change venue - Venues</a>&nbsp;&nbsp; (optional path)</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/panel">New or exisiting panel</a>&nbsp;&nbsp;  (Conditional on this not being a first hearing)</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/paneldifferent">New panel</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/timing">Length and dates</a></p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/language">Welsh</a>&nbsp;&nbsp; (Probably should be conditional on Welsh region)</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/checkyouranswers">Check your answers</a>&nbsp;&nbsp; (Probably should be conditional on Welsh region)</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/confirmchangesubmission">Confirm resubmission</a>&nbsp;&nbsp; (Conditional on editing a submitted request)</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/confirmation">Confirmation</a>&nbsp;&nbsp; </p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/pages/confirmcancel">Confirm 'Cancel' of a requested hearing</a>&nbsp;&nbsp; </p>


                    <br>
                    <br>
                    <br>
                    <br>


                    <p><span class="govuk-!-font-weight-bold">Judges view</span>
                        <br>Links open in a new tab.</p>

                    <p><a target="_blank" href="https://xui-prototype.herokuapp.com/hearings/judgesview">Hearings tab</a></p>
                </div>
            </div>
        </div>




        <!--

        <p>Solicitor<br>
            <a href="solicitor/caselist">Case list</a><br>
        </p>

        <br>

        <p>Email - To solicitor who is being replaced<br>
            <a href="">They are now off record</a><br>
        </p>

        <p>Email - To solicitor who took themselves off record<br>
            <a href="">They are now off record</a><br>
        </p>

        <br>
        <br>

        <p><span class="govuk-!-font-weight-bold">Blocked by details froms services</span><br>
            Email - After caseworker approval<br>
            <a href="">Rejected</a><br>
            <a href="">Approved</a><br>
        </p>

        <p><span class="govuk-!-font-weight-bold">Blocked by business</span><br>
            Email - Citizen - After solicitor stop representing <br>
             <a href="">Already registered with IDAM</a><br>
             <a href="">Not registered with IDAM</a><br>
             <a href="">When case goes to paper</a>
        </p>

        -->

    </div>
</div>







{% endblock %}
