
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Hearings management</h1>
        <h3 class="govuk-heading-l govuk-!-margin-top-0">Actuals (On the day hearing details)</h3>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Version 3
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
                        January 2022
                    </div>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p class="govuk-body">
                        Changelog: <a href="https://tools.hmcts.net/confluence/x/lhDRWw" target="_blank">UCD Hearing on the day design & feedback log</a>
                    </p>
                    <br />
                    <a href="version3/index" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                        Start prototype
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg></a>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Adding hearing details:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="version3/actuals-categories" target="_blank">Hearing details summary screen</a></li>
                        <li><a href="version3/actuals-details" target="_blank">Hearing stage and result</a></li>
                        <li><a href="version3/actuals-date-and-time" target="_blank">Hearing timings</a></li>
                        <li><a href="version3/actuals-parties" target="_blank">Participants</a></li>
                        <li><a href="version3/actuals-confirmation" target="_blank">Confirmation screen</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Error screens:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="version3/actuals-details-error" target="_blank">Hearing stage and result: No result selected error</a></li>
                        <li><a href="version3/actuals-date-and-time-errors" target="_blank">Hearing timings: Start, pause and resume time errors</a></li>
                        <li><a href="version3/actuals-parties-errors" target="_blank">Hearing participants: Validation errors</a></li>
                        <li><a href="version3/actuals-categories-error" target="_blank">Hearing details summary screen: No hearing result error</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Completed hearing:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="version3/actuals-completed" target="_blank">Completed hearing (on the day details submitted)</a></li>
                    </ul>
                    <br />
                    <p class='govuk-body govuk-!-font-weight-bold'>Cancel hearing:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="version3/hearing-cancel" target="_blank">Cancel hearing</a></li>
                    </ul>
                    <br />
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Version 2
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        December 2021
                    </div>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class="govuk-body">
                        Changelog: <a href="https://tools.hmcts.net/confluence/x/lhDRWw" target="_blank">UCD Hearing on the day design & feedback log</a>
                    </p>
                    <br />
                    <a href="version2/index" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                        Start prototype
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg></a>
                    <br />
                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Version 1
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                        November 2021
                    </div>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <a href="version1/index" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                        Start prototype
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg></a>
                </div>
            </div>
        </div>

    </div>
</div>







{% endblock %}
