{% extends "../../layout-xui-judges-view.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




        {% if (data['status'] == 'pending') or (data['status'] == 'request') or (data['status'] == 'listed') %}
        <h1 class="govuk-heading-l">View or edit hearing</h1>
        {% elif data['status'] == 'awaiting' %}
        <h1 class="govuk-heading-l">View details</h1>
        {% elif data['status'] == 'completed' %}
        <h1 class="govuk-heading-l">Hearing completed</h1>
        {% else %}
        <h1 class="govuk-heading-l">Check your answers before sending your request</h1>
        {% endif %}


        <!--            {% if data['viewandchange'] == 'true' %}-->
        <!--                View or edit hearing-->
        <!--            {% else %}-->
        <!--                Check your answers before sending your request-->
        <!--            {% endif %}-->


        <form class="form" action="hearing-confirmation-answer" method="post">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                {% if data['status'] != 'listed' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith vs DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        9468-3316-6763-1127
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Personal Independence Payment<br />
                        - Conditions of Entitlement<br />
                        - Good cause<br />
                        - Rate of Assessment / Payability Issues - complex
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}

                {% if data['viewandchange'] == 'true' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['status'] == 'request' %}
                        Update requested
                        {% elif data['status'] == 'pending' %}
                        Waiting to be listed
                        {% elif data['status'] == 'listed' %}
                        Listed
                        {% elif data['status'] == 'awaiting' %}
                        Awaiting hearing details
                        {% elif data['status'] == 'completed' %}
                        Completed
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if (data['status'] == 'pending') or (data['status'] == 'request') or (data['status'] == 'listed') %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date request submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        28 October 2021
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}
                {% if data['status'] == 'listed' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date response received
                    </dt>
                    <dd class="govuk-summary-list__value">
                        4 November 2021
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}
                {% endif %}
            </dl>

            {% if data['status'] == 'listed' %}
            <!-- Listed summary -->
            <h2 class="govuk-heading-m">Listing information summary</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" style="background-color:#f3f2f1;">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Case name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith vs DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        9468-3316-6763-1127
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Personal Independence Payment<br />
                        - Conditions of Entitlement<br />
                        - Good cause<br />
                        - Rate of Assessment / Payability Issues - complex
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Hearing date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        12 December 2021
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        10:30
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Duration
                    </dt>
                    <dd class="govuk-summary-list__value">
                        45 mins
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Birmingham Civil and Family Justice Centre
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Room
                    </dt>
                    <dd class="govuk-summary-list__value">
                        3
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        Judicial members
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Judge John<br />
                        Penny Wilson - Medically qualified panel member / General Practitioner<br />
                        Joe Smith - Medically qualified panel member / Eye Surgeon<br />
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="padding:2px 10px;">
                        How parties will attend
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith - Video / CVP<br />
                        DWP - Video / CVP
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
            </dl>
            {% endif %}

            <h2 class="govuk-heading-m">Hearing requirements</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING REQUIREMENTS -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reasonable adjustments
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <strong>Jane Smith</strong><br />
                        Language interpreter<br />
                        Sign language interpreter<br />
                        Reasonable adjustments - Hearing loop required
                        <br /><br />
                        <strong>DWP</strong><br />
                        Sign language interpreter<br />
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-requirements?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Additional facilities</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- ADDITIONAL SECURITY -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Will additional security be required?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        No
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-requirements-facilities?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
                <!-- ADDITIONAL FACILITIES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select any additional facilities required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Witness Screen
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-requirements-facilities?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Hearing stage</h2>
            <!-- HEARING STAGE -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What stage is this hearing at?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Final
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-stage?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Participant attendance</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING ATTENDANCE -->
                <div class="govuk-summary-list__row">

                    <dt class="govuk-summary-list__key">
                        How will each participant attend the hearing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith - Video / CVP <br />
                        DWP - Video / CVP <br />
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-attendance-hybrid-many?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
                <!-- HOW MANY ATTENDEES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How many people will attend the hearing in person?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        12
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-attendance-hybrid-many?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Hearing venue</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING VENUE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What are the hearing venue details?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Birmingham Civil and Family Justice Centre
                        <!--                        {{  data['regionselection']  }}<br /><br />-->
                        <!--                        {{ data['venue'] | striptags(true) | escape | nl2br  }}-->
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-venue?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
            </dl>

            <!-- Welsh language -->
<!--            <h2 class="govuk-heading-m">Language requirements</h2>-->

<!--            <dl class="govuk-summary-list govuk-!-margin-bottom-9">-->
<!--                <div class="govuk-summary-list__row">-->
<!--                    <dt class="govuk-summary-list__key">-->
<!--                        Does this hearing need to be in Welsh?-->
<!--                    </dt>-->
<!--                    <dd class="govuk-summary-list__value">-->
<!--                        No-->
<!--                    </dd>-->
<!--                    <dd class="govuk-summary-list__actions">-->
<!--&lt;!&ndash;                        {% if data.changesallowed != 'false' %}&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="govuk-link" href="hearing-welsh?backtocheckanswers=true&">&ndash;&gt;-->
<!--&lt;!&ndash;                            Change&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        {% endif %}&ndash;&gt;-->
<!--                    </dd>-->
<!--                </div>-->

<!--            </dl>-->


            <!-- JUDGE -->
            <!--            {% if data.panelsame != 'Yes - use the same panel as most recent hearing' %}-->

            <h2 class="govuk-heading-m">Judge details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you want a specific judge?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>

                <!-- SPECIFIC JUDGE -->
                {% if data.specificjudge == 'Yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of the judge
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Judge John
                        <!-- {{  data.name-of-judge }}-->
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
                {% else %}
                <!-- NO SPECIFIC JUDGE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select all judge types that apply
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.judgecontract }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Exclude a judge
                    </dt>
                    <dd class="govuk-summary-list__value">
                        David Patrick
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
            </dl>

            <!--            {% endif %}-->


            <!-- PANEL -->
            <h2 class="govuk-heading-m">Panel details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you require a panel for this hearing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-panel?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>



                <!-- INCLUDE/EXCLUDE/ROLES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Include specific panel members
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Penny Wilson<br />
                        Joe Smith
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Exclude specific panel members
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.excludepersonsname }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select any other panel roles required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <!--                            {{  data['panel-members']  }}-->
                        Medically qualified panel member - General Practitioner <br />
                        Medically qualified panel member - Eye Surgeon <br />
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>

            </dl>

            <h2 class="govuk-heading-m">Length, date and priority level of hearing</h2>

            <!-- DURATION AND DATE -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Length of hearing
                    </dt>
                    <dd class="govuk-summary-list__value">
                        45 minutes
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the hearing need to take place on a specific date?
                    <dd class="govuk-summary-list__value">
                        No
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What is the priority of this hearing?
                    <dd class="govuk-summary-list__value">
                        Standard
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>

            </dl>

            <h2 class="govuk-heading-m">Additional instructions</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Enter any additional instructions for the hearing
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data['additional-instructions-text' | striptags(true) | escape | nl2br ]  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
<!--                        {% if data.changesallowed != 'false' %}-->
<!--                        <a class="govuk-link" href="hearing-additional-instructions">-->
<!--                            Change-->
<!--                        </a>-->
<!--                        {% endif %}-->
                    </dd>
                </div>

            </dl>

            {% if data.afterhearinghappend == 'true' %}

            <h2 class="govuk-heading-m">Outcome of the hearing</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Placeholder
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Placeholder
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <!--                                {% if data.changesallowed != 'false' %}-->
                        <!--                                <a class="govuk-link" href="/hearings/pages/language">-->
                        <!--                                    Change-->
                        <!--                                </a>-->
                        <!--                                {% endif %}-->
                    </dd>
                </div>

            </dl>

            {% endif %}

    </div>
</div>

<script>

  function goBack() {
    window.history.back();
  }
</script>

{% endblock %}