{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" action="hearing-checkyouranswers" method="post">

                <div class="govuk-form-group">
                    <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l">
                        Additional instructions for the hearing
                    </label>
                    </h1>

                    <div class="govuk-inset-text">
                        This hearing request will need to be manually reviewed before listing if you enter additional details.
                    </div>

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="label-as-page-heading">
                                <strong>Enter any additional instructions for the hearing</strong>
                            </label>
                            <textarea rows="10" class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="additional-instructions-text" rows="5" aria-describedby="label-as-page-heading-info">{{ data['additional-instructions-text'] }}</textarea>
                        </div>

                        <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 2000 characters
                        </div>

                    </div>

                    <button class="govuk-button" data-module="govuk-button">Continue</button>

                </form>
            </div>

        </div>
    </div>



<script>
    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}