{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <form class="form" action="hearing-requirements-facilities" method="post">

        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
            <h1 class="govuk-heading-l">
                Hearing requirements
            </h1>

            {% if data['backtocheckanswers'] == 'true' %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Review the information on this page, it has been updated.
                </strong>
            </div>

<!--            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">-->
<!--                <div class="govuk-notification-banner__header">-->
<!--                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">-->
<!--                        Important-->
<!--                    </h2>-->
<!--                </div>-->
<!--                <div class="govuk-notification-banner__content">-->
<!--                    <p class="govuk-notification-banner__heading" style="max-width: none;">-->
<!--                        Review the information on this page, it has been updated.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
            {% endif %}

            <p class="govuk-body govuk-!-margin-bottom-2">Personal Independence Payment</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Conditions of Entitlement</li>
                <li>Good cause</li>
                <li>Rate of Assessment / Payability Issues - complex</li>
            </ul>

            {% if data['ra'] != 'none' %}

            <div class="govuk-inset-text">
                Any reasonable adjustments on this page will be included in the hearing request.
            </div>

            <h3 class="govuk-heading-m">Reasonable adjustments</h3>

            <!-- Case flags table -->
            <div class="govuk-form-group">

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" width="300">Jane Smith</th>
                        <th scope="col" class="govuk-table__header" width="550">Comments</th>
                        <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Sign language<br />
                            British Sign Language (BSL)
                        </td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Wheelchair access</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                    </tr>
<!--                    <tr class="govuk-table__row">-->
<!--                        <td class="govuk-table__cell">Reasonable adjustment</td>-->
<!--                        <td class="govuk-table__cell">Hearing loop required</td>-->
<!--                        <td class="govuk-table__cell">-->
<!--                            <strong class="govuk-tag">Active</strong>-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tbody>
                </table>

                {% if data['ra'] == '2parties' %}

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" width="300">DWP</th>
                        <th scope="col" class="govuk-table__header" width="550">Comments</th>
                        <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Language interpreter<br />
                        Spanish</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>

                {% endif %}

            </div>
            {% endif %}
            <br />
            <p class="govuk-body">Review <a href="#">case flags and reasonable adjustments (opens in new tab)</a> if you need to make any changes.</p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </div>
    </form>
</div>

<div class="govuk-form-group" style="position:absolute;margin-top: 80px;">
    <p class="govuk-body-s">
        <strong>Scenarios:</strong>

        <a href="/hearings/pages/iteration4/hearing-requirements?ra=1party&" class="govuk-link {% if data['ra'] == '1party' %}govuk-!-font-weight-bold{% endif %}">Reasonable adjustments (1 participant)</a> /
        <a href="/hearings/pages/iteration4/hearing-requirements?ra=2parties&" class="govuk-link {% if data['ra'] == '2parties' %}govuk-!-font-weight-bold{% endif %}">Reasonable adjustments (2 participants)</a> /
        <a href="/hearings/pages/iteration4/hearing-requirements?ra=none&" class="govuk-link {% if data['ra'] == 'none' %}govuk-!-font-weight-bold{% endif %}">Empty state</a>
    </p>
</div>

<script>

    function goBack() {
        window.history.back();
    }

</script>

{% endblock %}