{% extends "layout.html" %}

{% block pageTitle %}
  PayBubble
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Research session</h1>
<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/ways-to-pay/payment-check-before-you-pay-1">
    Journey 1
  </a>
  <br>
  User is completing their initial application or claim and needs to pay the fee when all sections are complete.
</p>
<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/ways-to-pay/payment-history-detail">
    Journey 2
  </a>
  <br>
  User receives an email notification explaining that an additional payment is required.
</p>

{% endblock %}
