{% extends "../../layout-ways-to-pay.html" %}

{% block pageTitle %}
    Review payment request
{% endblock %}

{% block content %}
<div>
  <a href="" class="govuk-back-link">Back</a>
  <h2 class="govuk-heading-l">Review payment request</h2>
  <dl class="govuk-summary-list" style="width: 50%;">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 100%;">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
        Not paid
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 100%;">
        Party
      </dt>
      <dd class="govuk-summary-list__value">
        Laura Narran
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 100%;">
        Case reference
      </dt>
      <dd class="govuk-summary-list__value">
        4692-3164-5845-4819
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 100%;">
        Service request reference
      </dt>
      <dd class="govuk-summary-list__value">
        2022-1644504303225
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 100%;">
        Date created
      </dt>
      <dd class="govuk-summary-list__value">
        27 February 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width: 100%;">
        Due date
      </dt>
      <dd class="govuk-summary-list__value">
        16 April 2022
      </dd>
    </div>
  </dl>

  <table class="govuk-table"  style="width:960px; margin-bottom: 20px;">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="width:400px;">Fee</th>
        <th class="govuk-table__header" scope="col" style="width:100px; text-align: center;">Quantity</th>
        <th class="govuk-table__header" scope="col" style="width:150px; text-align: right;"></th>
        <th class="govuk-table__header" scope="col" style="width:100px; text-align: right;">Total</th>
        <th class="govuk-table__header" scope="col" style="width:150px; text-align: right;"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Hearing fee</td>
        <td class="govuk-table__cell"style="text-align: center">1</td>
        <td class="govuk-table__cell"style="text-align: right"></td>
        <td class="govuk-table__cell" style="text-align: right">£181.00</td>
        <td class="govuk-table__cell" style="text-align: right;">
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Photocopy</td>
        <td class="govuk-table__cell"style="text-align: center">4</td>
        <td class="govuk-table__cell"style="text-align: right"></td>
        <td class="govuk-table__cell" style="text-align: right">£6.00</td>
        <td class="govuk-table__cell" style="text-align: right;">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="govuk-button-group">
    {{ govukButton({
      href: 'payment-pay-online',
      text: "Pay"
    }) }}
  </div>
</div>
{% endblock %}
