{% extends "../../layout-ways-to-pay.html" %}

{% block pageTitle %}
    How do you want to pay
{% endblock %}

{% block content %}
<div>
  <a href="payment-check-before-you-pay-2" class="govuk-back-link">Back</a>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        Are you sure you want to leave?
      </p>
      <p>
        Your payment has not been completed.
      </p>
      <p class="govuk-notification-banner__heading">
        <a class="govuk-notification-banner__link" href="payment-check-before-you-pay-1">Yes</a>&nbsp;&nbsp;&nbsp;
        <a class="govuk-notification-banner__link" href="payment-pay-online-2">No</a>
      </p>
    </div>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          How do you want to pay?
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="method-of-payment" name="method-of-payment" type="radio" value="bank-account-or-building-society" checked>
          <label class="govuk-label govuk-radios__label" for="method-of-payment">
            Pay online
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="method-of-payment-2" name="method-of-payment" type="radio" value="non-uk-bank-account">
          <label class="govuk-label govuk-radios__label" for="method-of-payment-2">
            Pay another way
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>
</div>
{% endblock %}
