
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">Citizen UI components</h1>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="citizen-ui/components/component1.html" target="_blank">Component 1</a>
      </li>
      <li>
        <a href="citizen-ui/components/component2.html" target="_blank">Component 2</a>
      </li>
      <li>
        <a href="citizen-ui/components/component3.html" target="_blank">Component 3</a>
      </li>
      <li>
        <a href="citizen-ui/components/component4.html" target="_blank">Component 4</a>
      </li>
      <li>
        <a href="citizen-ui/components/component5.html" target="_blank">Component 5</a>
      </li>
      <li>
        <a href="citizen-ui/components/component6.html" target="_blank">Component 6</a>
      </li>
      <li>
        <a href="citizen-ui/components/component7.html" target="_blank">Component 7</a>
      </li>
      <li>
        <a href="citizen-ui/components/component8.html" target="_blank">Component 8</a>
      </li>
      <li>
        <a href="citizen-ui/components/component9.html" target="_blank">Component 9</a>
      </li>
      <li>
        <a href="citizen-ui/components/component10.html" target="_blank">Component 10</a>
      </li>
    </ul>
  </div>

</div>

{% endblock %}
